<div style="background-color: #fff;min-height: 872px">
<div class="container">
	<div class="page-header">
	 <p class="text-center h1"> 关于我们</p>
	</div>
	<!--<div class="row">
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<p> <%= video_tag("intro.mp4",width:"100%",preload:"meta")%></p>
		</div>
	</div>-->
</div>
<div class="container">
	<p class="h4" style="line-height: 35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京科学学研究中心是北京市唯一一家以管理科学为核心的软科学研究市属事业单位，成立20多年来，主要研究方向聚焦在科技统计与分析学科、科技战略与政策学科、城市现代化学科，同时兼顾科技人才、区域发展、科技与经济等学科建设。大批研究成果和积累的丰厚资源，为北京市建设创新型城市，发展高端、高效、高辐射力产业与社会经济产业，首都区域创新体系建设，社会主义新农村建设提供了重要的科研和信息支撑， 也与首都社会经济建设紧密相连。</p>
	<p class="h4" style="line-height: 35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着北京城市现代化和新农村进程的不断提高，城市发展管理科学日益与现代信息技术密切融合。社会公众的期望值越来越高，政府和公众更需要获得更及时、更广阔、有内涵、有深度的信息，以及更完善的科研服务。利用现代信息技术将我单位核心科研业务进行高端处理，建立高效信息资源的统计、分析机制，实现信息资源 的有效采集、交换、共享和高辐射力已成为我单位核心竞争力得到提升的当务之急，也是为政府、社会和公众提供更加优质的科研成果和公益服务，提高对政府决策 的支持力度的当务之急。</p>
	<p class="h4" style="line-height: 35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中心的主要发展方向：按照北京市科技大会精神，在管理学领域重点突出三个学科建设：一是科技体制与政策学科；二是统计信息学科；三是城市现代化学科。以三个学科建设为龙头，带动科技人才研究、区域经济研究、科技与经济、民营科技企业研究等学科建设。</p>
	<p class="h4" style="line-height: 35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中心的功能定位：主 要为政府相关部门制定政策提供公益性研究服务。通过开展以管理学为核心的公益性软科学研究工作，以科技管理与政策、科技统计信息、城市现代化三个重点学科 建设为龙头，针对北京市发展的热点、难点和焦点问题，在政府关注、百姓关心的公益研究领域开展高水平的软科学研究工作，为政府科学决策提供可资参考的成果 和依据，为提高自主创新能力、建设创新型城市服务。</p>
	<p class="h4" style="line-height: 35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中心的发展目标：在软科学研究领域努力打造三个品牌中心：科技体制与政策研究中心、科技统计信息中心、城市现代化研究中心。努力把中心建设成为研究水平一流；提供服务一流；聚集人才一流；管理机制一流的软科学研究基地。</p>

	<address class="h4" style="line-height: 35px">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>地址：</strong> 北京市海淀区西三环北路27号 <br/>   
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>邮编：</strong> 100089
	</address>
</div>
</div>